<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
        
        <link rel="stylesheet" href="{{asset("css/chat.css")}}">

        <script src="http://localhost:3000/socket.io/socket.io.js"></script>

	</head>
	<!--Coded With Love By Mutiullah Samim -->
    <!-- https://bootsnipp.com/snippets/nNg98 -->
	<body>
    
		<div class="container-fluid h-100">            
			<div class="row justify-content-center h-100 pt-5">				
				<div class="col-md-8 col-xl-6">

                    <div class="card mb-2 card-join"  style="height:auto;padding:10px">
                        <form>
                            <input type="text" placeholder="NickName"  class="nickname form-control type_msg">                            
                            <input type="submit" value="Join" class="btn btn-primary">
                        </form>                        
                    </div>

					<div class="card">

						<div class="card-header msg_head header">                           
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="{{asset('images/user.jpg')}}" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span class="nickname">Ninckname</span>									
								</div>								
							</div>
						</div>

						<div class="card-body msg_card_body chat">

                            <div class="d-flex justify-content-start mb-4 bubble-bot">
								<div class="img_cont_msg">
									<img src="{{asset('images/bot.jpg')}}" class="rounded-circle user_img_msg">
								</div>
								<div class="msg_cotainer">
									<span class="message">Hi, how are you samim?</span>
									<span class="msg_time">Boot</span>
								</div>
							</div>

							<div class="d-flex justify-content-start mb-4 bubble-users">
								<div class="img_cont_msg">
									<img src="{{asset('images/user.jpg')}}" class="rounded-circle user_img_msg">
								</div>
								<div class="msg_cotainer">
                                    <span>
                                        <span><b><span class="nickname">Username</span>: </b></span>
                                        <span class="message">Hi, how are you samim?</span>
                                    </span>
									
								</div>
							</div>

							<div class="d-flex justify-content-end mb-4 bubble-me">
								<div class="msg_cotainer_send">
									<span class="message">Hi, how are you samim?</span>
									<span class="msg_time_send"></span>
								</div>
								<div class="img_cont_msg">
							        <img src="{{asset('images/user.jpg')}}" class="rounded-circle user_img_msg">
								</div>
							</div>

						</div>
						<div class="card-footer div-message">
							<div class="input-group">								
								<textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
								<div class="input-group-append">
									<span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <script src="{{asset("js/chat.js")}}"></script>
	</body>
</html>